body{
    font-family: "Times New Roman", Times, serif;
    margin:0;
}
.flexible-container{
    display: flex;
}
.top-banner{
    background-image: url(images/Frame\ 58.jpg);

}
.color{
    color: orange;
}
.half-width{
    width: 50%;
    padding:5%;
    margin: 5px;
}
.half-width img{
    width: 80%;
}

.link-buttom{
    text-decoration: none;
    background-image: linear-gradient(yellowgreen, tomato);
    padding:10px 30px;
    color:whitesmoke;
    font-weight:600;
    border-radius: 10px;
  }
  .about{
      background-image: url(images/shapes/Group\ 8448.png);
      background-position: left;
      background-repeat: no-repeat;
      margin: 30px;
    
  }
  section{
      display: flex;
  }
.half-half{
    width: 33.3%;
}
.recepies{
    width: 25%;
    margin: 50px 10px;
}
.img{
    border-radius: 40%;
}
.rece{
    text-align: center;
    color: chartreuse;
}